/* reset */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
  
.the-icons {
  font-size: 25px;
}
/* couleurs, marges et taille police  */

.couleur-fond1 {
    background-color: rgb(248, 248, 248);
}

.bg-secondaire {
    background-color: rgb(54, 46, 146);
}

.white-text {
    color: floralwhite;
}

.marge {
    padding-top: 2em;
    padding-bottom: 2em;
}

.marge-card {
    margin-top: 3em;
}

.text-bottom {
    padding-top: 7em;
}

/* ************************************************** */

/* autres modifs genre hauteur card */

.height-card {
    height: 16em;
}

.card {
    cursor: pointer;
}

.card-ind:hover{
    background-color: rgba(19, 18, 18,.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 110%;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10000;
	opacity: 0;
	background: #4D4D4D;
	transition: opacity 200ms linear, bottom 0s linear 200ms;

}
.column {
    column-count: 3;
    column-gap: 8em;
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background:  rgb(53, 43, 158);
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}

.plus {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

#container-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
}

#container-floating:hover {
    height: 400px;
    width: 90px;
    padding: 30px;
}

#container-floating:hover .plus {
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
}

.container-list {
    width: 80%;
    margin: auto;
  }
  
  .list-item {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    font-family: sans-serif;
    height: 80px;
    line-height: 30px;
    list-style: none;
    margin: 10px 0;
    padding: 10px 10px;
    text-align: left;
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in;
    width: 90%;
    
  }

  .list-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .image-article{
      position: relative;
      width: 4.5em;
      height: 100%;
      border-radius: 50%;
      background-color: firebrick;
  }

  .text-article{
      position: relative;
      padding-left:2em;
  }

  .prix-article{
      float: right;
  }
  .text-article,.prix-article, .image-article{
      display: inline-block;
  }

  .pad{
      padding-left: 1em;
  }

  span>img{
      cursor: pointer;
  }